
body {
    width: 80%;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #9b9999;
  }
#mainBox {
    background: #e0e0df none repeat scroll 0% 50%;
    color: #3c3d3c;
    margin-left: auto;
    margin-right: auto;
    min-height: 80%;
    width: 80%;
    box-shadow: 5px 10px 5px;
    border-radius: 25px;
    padding-left: 1em;
}

#addForm {
  padding-left: 1em;
  padding-bottom: 1em;
}
#siteHeader {
  padding-top: 1em;
  padding-bottom: 1em;
}
#siteFooter {
    text-align: center;
    font-size: 70%;
    padding-bottom: 1em;
    padding-top: 1em;
}
#detailPunchline {
  text-align: center;
  font-size: x-large;
  color: #ff0000;
}
#detailJokeText {
  text-align: center;
  font-style: italic;
}
h1 {
	color: #ff0000;
	font-family: "Bradley Hand ITC";
	font-size: 200%;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}