
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
    <head>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"><title>Joke App</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type">
        <link rel="stylesheet" href="{% static 'css/chrisapp.css' %}">
        <link rel="shortcut icon" href="{% static 'images/c.ico' type='image/x-icon' %}">
    </head>
    <body>
        <div id="mainBox">
            <div id="siteHeader">
                <h1 class="site">Chris' Top Jokes</h1>
            </div>
            <div id=addForm>
                <p>OK what is your joke?
                <form action="{% url 'add' %}" method="post" class="formFields">
                    {% csrf_token %}
                    {{ form }}
                    <div id=siteFooter></div>
                        <input type ="submit" value="Add my Joke" class="btn btn-inline btn-small btn-primary"> 
                        <a href="{% url 'index' %}" class="btn btn-inline btn-small btn-info"><span>Cancel</span></a></p> 
                </div>
                </form>                
            </div>
         </div>
        
    </body>
</html>


