
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
    <head>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"><title>Joke App</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type">
        <link rel="stylesheet" href="{% static 'css/chrisapp.css' %}">
    </head>
    <body>
        <div id="mainBox">
            <div id="siteHeader">
                <h1>Chris' Top Jokes</h1>
            </div>
            <div id=addForm>
                <p>OK what is your joke?</p>
                <form action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type ="submit" value="OK">
                </form>
                
            </div>
         </div>
        
    </body>
</html>


