<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
    <head>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"><title>Joke App</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type">
        <link rel="stylesheet" href="{% static 'css/chrisapp.css' %}">
    </head>
    <body>
        <div id="mainBox">
            <div id="siteHeader">
                <h1>Chris' Top Jokes</h1>
            </div>
            <div id="detailJokeText">
                <p>{{ joke.joke_text }}</p>   
            </div>
            <! todo: only need the first item >
            <div id="detailPunchline">
            {% for punchline in joke.punchline_set.all %}
            <p>{{ punchline.punchline_text }}</p> 
            {% endfor %}
            </div>
            
            <div id="siteFooter">
                <p><a href="/chrisapp/add/">I have a better joke...</a></p>
            </div>
        </div>
        
    </body>
</html>