<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
    <head>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"><title>Chris' Rockin' Joke App</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="content-type">
        <link rel="stylesheet" href="{% static 'css/chrisapp.css' %}">
        <link rel="shortcut icon" href="{% static 'images/c.ico' type='image/x-icon' %}">
    </head>
    <body>
        <div id="mainBox">
            <div id="siteHeader">
                <h1>Chris' Top Jokes</h1>
            </div>
            <div> 
                {% if joke_list %}
                    <ul>
                    {% for joke in joke_list %}
                    
                        <li><a href="/chrisapp/{{ joke.id }}/" class="urlPretty">{{ joke.joke_text }}</a>
                            
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Sorry no jokes are available.</p>
                {% endif %}
            </div>
            
            <div id="siteFooter">
                <p><a href="{% url 'add' %}" class="btn btn-inline btn-small btn-primary"><span>I have a better joke</span></a></p>
            </div>
        </div>
        
    </body>
</html>